body {
  margin: 0;
  padding: 0;
}

.home-page{
  padding: 130px;
  background-color: #1A1A2E ;
  font-family: 'Jonova';
  display: flex;
  flex-direction: row;
}

.home-page h1{
  color: #E94560;
  font-size: 50px;
}

.home-page,.name-1, .name-para{
  color:  #C9D1D9 ;

}

.button{
  width: 170px;
  height: 45px;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  padding: 15px;
  margin: 30px;
  background-color: #0F3460;
  cursor: pointer;
}

.button:hover{
  background-color:  #E94560;
}

.photo{
  margin: 80px;
  margin-left: 310px;
  padding: 100px;

}

.photo, .circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
}